<%= render 'layouts/header' %>

<nav>

  <ul class="pagination text-center" role="navigation" aria-label="Pagination">

    <% if @from > 10 %>
    <li id="next"><%= link_to "Previous Page", search_path(search_term: @search_term, from: @previous), class: "button" %></li>
    <% end %>

    <!-- <li class="pagination-previous disabled">Previous</li> -->
    <li class="current"><span class="show-for-sr">You're on page</span>1</li>
    <li><%= link_to "2", search_path(search_term: @search_term, from: 10)%></li>
    <li><%= link_to "3", search_path(search_term: @search_term, from: 20)%></li>
    <li><%= link_to "4", search_path(search_term: @search_term, from: 30)%></li>
    <li><%= link_to "5", search_path(search_term: @search_term, from: 40)%></li>
    <li><%= link_to "6", search_path(search_term: @search_term, from: 50)%></li>
    <li><%= link_to "7", search_path(search_term: @search_term, from: 60)%></li>
    <li><%= link_to "8", search_path(search_term: @search_term, from: 70)%></li>
    <li><%= link_to "9", search_path(search_term: @search_term, from: 80)%></li>
    <li id="next"><%= link_to "Next Page", search_path(search_term: @search_term, from: @from)%></li>
    <!-- <li class="pagination-next"></li> -->
  </ul>
</nav>


<div class="row small-up-1 medium-up-3">

  <% @results.each_with_index do |result, index| %>

  <div class="column">
    <div class="card">
      <div class="card-divider">
        <h6><%= link_to result.label.truncate(35), recipe_path(result.short_uri) %></h6>
      </div>
      <div class="card-section">
        <img src="<%= result.image %>">
      </div>
      <div class="card-section">
        <p><%= result.source %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
