<header>
<div class="top-bar-right">
  <ul class="menu">

    <%= form_tag search_path, method: "get" do %>
    <li>  <%= label_tag(:search, "Enter Search Term") %></li>
    <li>  <%= text_field_tag(:search_term, @search_term) %></li>
    <%= submit_tag("SEARCH") %>
    <% end %>
  </ul>
</div>
</header>


<h1><%= link_to @result[0]["label"], @result[0]["shareAs"] %></h1>



<img src="<%= @result[0]["image"] %>">
<h4><%= @result[0]["source"] %></h4>


<% @result[0]["ingredientLines"].each do |ingredient| %>
<p>
  <%= ingredient %>
</p>
<% end %>
